USE [master]

CREATE DATABASE DB_STORE

GO

USE DB_STORE

CREATE TABLE [ChiTietDongHo](
	[chiTietDHid] [int] NOT NULL,
	[typeDHid_pk] [int] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[sale] [float] NULL,
	[urlPicture] [nvarchar](300) NOT NULL,
	[urlVideo] [nvarchar](300) NULL,
	[quantity] [int] NOT NULL,
	[createDate] [datetime] NULL,
	[kieuDang] [nvarchar](50) NOT NULL,
	[nangLuong] [nvarchar](50) NULL,
	[doChiuNuoc] [int] NULL,
	[chatLieuMat] [nvarchar](50) NULL,
	[duongKinhMat] [float] NULL,
	[chatLieuDay] [nvarchar](50) NULL,
	[sizeDay] [float] NULL,
	[chatLieuVo] [nvarchar](100) NULL,
	[duongKinhVo] [float] NULL,
	[timeBaoHanh] [float] NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_ChiTietDongHo] PRIMARY KEY CLUSTERED 
(
	[chiTietDHid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [comments](
	[commentID] [int] NOT NULL,
	[userID_pk] [int] NOT NULL,
	[chiTietDHid_pk] [int] NOT NULL,
	[createDate] [datetime] NOT NULL,
	[content] [ntext] NOT NULL,
	[active] [bit] NOT NULL,
	[idCommentReplied] [int] NULL,
 CONSTRAINT [khoa_chinh_comment] PRIMARY KEY CLUSTERED 
(
	[commentID] ASC,
	[userID_pk] ASC,
	[chiTietDHid_pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [LoaiDongHo](
	[typeDHid] [int] NOT NULL,
	[nameTypeDH] [nvarchar](50) NOT NULL,
	[xuatXu] [nvarchar](50) NOT NULL,
	[hangSanXuat] [nvarchar](50) NOT NULL,
	[active] [bit] NOT NULL,
	[thuongHieu] [ntext] NULL,
 CONSTRAINT [PK_LoaiDongHo] PRIMARY KEY CLUSTERED 
(
	[typeDHid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [userLikeComment](
	[userID_pk] [int] NOT NULL,
	[commentID_pk] [int] NOT NULL,
 CONSTRAINT [pk_adminLikeComment] PRIMARY KEY CLUSTERED 
(
	[userID_pk] ASC,
	[commentID_pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [users](
	[userID] [int] NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[urlAvatarPicture] [nvarchar](300) NULL,
	[password] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](13) NOT NULL,
	[email] [nvarchar](80) NOT NULL,
	[account] [varchar](50) NULL,
	[ngaySinh] [datetime] NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
create table DonDatHang(
	id int primary key,
	ngayLap datetime default getdate(),
	ghiChu nvarchar(100),
	tinhTrang int default 1,--0 là chưa xác nhận, 1 là xác nhận(chưa giao), 2 là đang giao ,3 là đã thanh toán
	kieuThanhToan int, --1 là thanh toán khi nhận hàng COD, 2 là thành toán online
	hoTen nvarchar(50),
	sdt nvarchar(11),
	email nvarchar(50),
	diaChi nvarchar(50)
)
GO
create table ChiTietDonDat(
	idDDH int references DonDatHang(id),
	idDH int references chiTietDongHo(chiTietDHid),
	soLuong int,
	constraint PK_CTDD primary key(idDDH,idDH),
)
GO

INSERT INTO [ChiTietDongHo] ([chiTietDHid], [typeDHid_pk], [code], [price], [sale], [urlPicture], [urlVideo], [quantity], [createDate], [kieuDang], [nangLuong], [doChiuNuoc], [chatLieuMat], [duongKinhMat], [chatLieuDay], [sizeDay], [chatLieuVo], [duongKinhVo], [timeBaoHanh], [active]) VALUES (3, 6, N'AAS-29038.45.27MB', 10980000, 0, N'ALTWatch2220204231420.jpg', N' ', 20, CAST(N'2020-04-22T11:20:55.147' AS DateTime), N'Đồng hồ nữ', N'Quatz ( Máy pin )', 3, N'Sapphire', 34, N'Thép không gỉ mạ vàng PVD', 20, N'Thép không gỉ mạ vàng PVD', 34, 10, 1)
INSERT INTO [ChiTietDongHo] ([chiTietDHid], [typeDHid_pk], [code], [price], [sale], [urlPicture], [urlVideo], [quantity], [createDate], [kieuDang], [nangLuong], [doChiuNuoc], [chatLieuMat], [duongKinhMat], [chatLieuDay], [sizeDay], [chatLieuVo], [duongKinhVo], [timeBaoHanh], [active]) VALUES (4, 6, N'AS-50354.45.21', 13980000, 0, N'ALTWatch1120204223044.jpg', N' ', 15, CAST(N'2020-04-22T11:30:44.200' AS DateTime), N'Đồng hồ nữ', N'Quartz (Điện tử)', 3, N'Sapphire', 28.5, N'Thép không gỉ mạ PVD', NULL, N'Thép không gỉ mạ vàng PVD', 28.5, 10, 1)
INSERT INTO [ChiTietDongHo] ([chiTietDHid], [typeDHid_pk], [code], [price], [sale], [urlPicture], [urlVideo], [quantity], [createDate], [kieuDang], [nangLuong], [doChiuNuoc], [chatLieuMat], [duongKinhMat], [chatLieuDay], [sizeDay], [chatLieuVo], [duongKinhVo], [timeBaoHanh], [active]) VALUES (7, 5, N'ES-7000.701.22.16.26', 14000000, 0, N'ALTWatch1720204224720.jpg', N' ', 15, CAST(N'2020-04-22T17:47:20.777' AS DateTime), N'Đồng hồ Nam', N'Quartz (Điện tử)', 5, N'Kính sapphire', 41.5, N'Dây da', 20, N'Thép không gỉ mạ vàng PVD', 41.5, 10, 1)

INSERT INTO [comments] ([commentID], [userID_pk], [chiTietDHid_pk], [createDate], [content], [active], [idCommentReplied]) VALUES (2, 11, 10, CAST(N'2020-05-07T23:20:07.943' AS DateTime), N'test bình luận', 1, NULL)
INSERT INTO [comments] ([commentID], [userID_pk], [chiTietDHid_pk], [createDate], [content], [active], [idCommentReplied]) VALUES (3, 11, 20, CAST(N'2020-05-07T23:20:20.860' AS DateTime), N'test bình luận 2', 1, NULL)
INSERT INTO [comments] ([commentID], [userID_pk], [chiTietDHid_pk], [createDate], [content], [active], [idCommentReplied]) VALUES (4, 11, 20, CAST(N'2020-05-07T23:20:26.727' AS DateTime), N'test bình luận 1', 1, NULL)


INSERT INTO [userLikeComment] ([userID_pk], [commentID_pk]) VALUES (8, -1)
INSERT INTO [userLikeComment] ([userID_pk], [commentID_pk]) VALUES (8, 5)
INSERT INTO [userLikeComment] ([userID_pk], [commentID_pk]) VALUES (9, -1)

INSERT INTO [users] ([userID], [userName], [gioiTinh], [urlAvatarPicture], [password], [address], [phone], [email], [account], [ngaySinh], [isAdmin]) VALUES (1, N'phạm thị quỳnh', 0, N'avatar1.jpg', N'9345b4b86fefffc596d7b8fd7f59a1ff', N'thanh hóa', N'01234567891', N'qwerqwr@àlkajf', N'admin1', CAST(N'1990-07-21T00:00:00.000' AS DateTime), 1)
INSERT INTO [users] ([userID], [userName], [gioiTinh], [urlAvatarPicture], [password], [address], [phone], [email], [account], [ngaySinh], [isAdmin]) VALUES (2, N'Trần Thị Hằng', 1, N'avartar2.jpg', N'827ccb0eea8a706c4c34a16891f84e7b', N'thanh trì', N'01234567899', N'chi@gmai.com', N'ad2', CAST(N'2993-11-28T00:00:00.000' AS DateTime), 1)
INSERT INTO [users] ([userID], [userName], [gioiTinh], [urlAvatarPicture], [password], [address], [phone], [email], [account], [ngaySinh], [isAdmin]) VALUES (3, N'Võ Trang Nhung', 1, N'avartar3.jpg', N'b3e2026d10e46df62f0d1cdfa85d7aaa', N'thanh', N'098667809', N'adkweeoi@gmail.com', N'ad3', CAST(N'1996-02-15T00:00:00.000' AS DateTime), 1)

ALTER TABLE [users] ADD  CONSTRAINT [account_admin] UNIQUE NONCLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [ChiTietDongHo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDongHo_LoaiDongHo] FOREIGN KEY([typeDHid_pk])
REFERENCES [LoaiDongHo] ([typeDHid])
GO
ALTER TABLE [ChiTietDongHo] CHECK CONSTRAINT [FK_ChiTietDongHo_LoaiDongHo]
GO
ALTER TABLE [comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_admin] FOREIGN KEY([userID_pk])
REFERENCES [users] ([userID])
GO
ALTER TABLE [comments] CHECK CONSTRAINT [FK_comments_admin]
GO
ALTER TABLE [comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_ChiTietDongHo] FOREIGN KEY([chiTietDHid_pk])
REFERENCES [ChiTietDongHo] ([chiTietDHid])
GO
ALTER TABLE [comments] CHECK CONSTRAINT [FK_comments_ChiTietDongHo]
GO
ALTER TABLE [userLikeComment]  WITH CHECK ADD  CONSTRAINT [FK_adminLikeComment_admin] FOREIGN KEY([userID_pk])
REFERENCES [users] ([userID])
GO
ALTER TABLE [userLikeComment] CHECK CONSTRAINT [FK_adminLikeComment_admin]
GO
---- Procedure
create proc insertDonDatHang(@ghiChu nvarchar(100),@kieuThanhToan int,
							@hoTen nvarchar(50),@sdt nvarchar(11),
							@email nvarchar(50),@diaChi nvarchar(50))
as begin
	insert into DonDatHang(ghiChu,kieuThanhToan,hoTen,sdt,email,diaChi)
	values(@ghiChu,@kieuThanhToan,@hoTen,@sdt,@email,@diachi)
end

GO

create proc insertChiTietDonDat(@idDH int,@soLuong int)
as begin
	declare @idDDH int
	select @idDDH=max(id) from DonDatHang --lấy id hóa đơn vừa thêm
	insert into ChiTietDonDat
	values(@idDDH,@idDH,@soLuong)
end

GO

create procedure GetDonHang
as
begin
	SELECT id,tinhTrang as intTinhTrang,ngayLap,
		   CASE tinhTrang
				WHEN 0 THEN N'Chưa xác nhận'
				when 1 then N'Đã xác nhận'
				when 2 then N'Đang giao'
				when 3 then N'Đã thanh toán'
				else N'error'
		   END as tinhTrang,
		   case kieuThanhToan
				when 1 then N'COD'
				when 2 then N'Online'
				else N'error'
		   end as kieuThanhToan,
		   hoTen,sdt,email,diaChi,ghiChu
	FROM DonDatHang
end

exec GetDonHang

GO

create procedure GetDetailDonHangByID(@id int=0)
as
begin
	select ldh.nameTypeDH +N' '+ dh.code as ten,dh.price,ldh.xuatXu as xuatXu, ct.soLuong
	from ChiTietDonDat as ct, ChiTietDongHo as dh, LoaiDongHo ldh
	where ct.idDDH=@id and ct.idDH=dh.chiTietDHid and ldh.typeDHid=dh.typeDHid_pk
end

exec GetDetailDonHangByID 5

GO

create procedure editDonHang(@id int=-1,@tinhTrang int=0)
as
begin
	update DonDatHang
	set tinhTrang=@tinhTrang
	where id=@id
end